{{ $content := . }}
{{ $lang := site.Language.Lang }}
{{ $contentStr := $content }}

{{ if isset site.Data.linkbuilding $lang }}
  {{ $linkData := index site.Data.linkbuilding $lang }}
  
  {{ range $linkData.keywords }}
    {{ $keyword := .keyword }}
    {{ $url := .url }}
    {{ $priority := default 1 .priority }}
    {{ $title := default $keyword .title }}
    
    {{/* Process paragraphs only */}}
    {{ $paragraphs := findRE "<p[^>]*>.*?</p>" $contentStr -1 }}
    {{ $newContentStr := $contentStr }}
    
    {{ range $paragraphs }}
      {{ $paragraph := . }}
      
      {{/* Skip if paragraph contains links or is a header */}}
      {{ if not (findRE "<a " $paragraph) }}
        {{ if not (findRE "<h[1-6]" $paragraph) }}
          {{ $pattern := printf `\b%s\b` $keyword }}
          {{ $replacement := printf `<a href="%s" class="auto-link" data-priority="%d" title="%s">%s</a>` $url $priority $title $keyword }}
          
          {{ $newParagraph := replaceRE $pattern $replacement $paragraph 1 }}
          {{ $newContentStr = replace $newContentStr $paragraph $newParagraph }}
        {{ end }}
      {{ end }}
    {{ end }}
    
    {{ $contentStr = $newContentStr }}
  {{ end }}
{{ end }}

{{ $contentStr | safeHTML }}
