{{ with .Site.Language.Params.ga_measurement_id }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>
{{ end }}


<script type="text/javascript" id="fh-chatbot-script-9d4e2c43-d84c-4fc1-9d61-e3f88b525454" defer>
  (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
  'https://app.flowhunt.io/fh-chat-widget.js',
  function(e){ FHChatbot.initChatbot({
    chatbotId: '9d4e2c43-d84c-4fc1-9d61-e3f88b525454',
    workspaceId: '5b159e6d-a750-4685-bf1c-bd010fea6dbb',
    headerTitle: 'ConFoot',
    maxWindowWidth: '540px',
    customOptions: '{"theme":"light","chatBubbleBackground":"#ffde15","chatBubbleIconColor":"#000000","headerText":"Shipping Container Legs"}',
  }); });
  </script>
  <!-- End of FlowHunt integration -->